/* main.scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

p.lead.beautify a {
  color: gold;
  font-size: 1.3rem;
}

.beautify,
p#sub-title.lead {
  font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.break-word {
  word-break: break-all;
}

.card {
  &:hover {
    -webkit-box-shadow: 10px 10px 6px -6px #777;
    -moz-box-shadow: 10px 10px 6px -6px #777;
    box-shadow: 10px 10px 6px -6px #777;
  }
  img#recipe_image {
    width: 100%;
    height: 15.625rem;
  }
}

img.recipe-image {
  width: 100%;
  height: 15.625rem;
}

img#profile-image {
  width: 15.625rem;
  height: 15.625rem;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.card-img-top.img-fluid {
  width: 100%;
  height: 12.5rem;
}

.card-title {
  font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkcyan;
}

.cover-caption {
  p {
    padding: 1.4rem;
  }
}

.container-fluid {
  padding: 1rem;
}

.fa.action:hover {
  font-size: 2.3rem;
  cursor: pointer;
}

.figure a:hover {
  text-decoration: none;
}

.file-chooser {
  display: none;
}

footer {
  background: url("../images/footer.jpg") top center no-repeat;
  background-size: cover;
  padding: 0.5rem;
  margin-top: 0.5rem;
  height: auto;
  width: 100%;
}

header {
  padding: 2px;
}

h1.display-3 {
  color: wheat;
  padding-top: 4rem;
}

h1,
h2,
.lead a {
  font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: cadetblue;
}

hr#favorites {
  max-width: 14rem;
  min-width: 14rem;
  margin: 0 auto;
}

input.form-control:focus {
  border-color: darkcyan;
}

.lead#description {
  font-size: 1.063rem;
  border-left: 0.4rem solid maroon
}

li.nav-item {
  font-family: 'Playball', cursive;
  font-size: 1.3rem;
  padding: 0 10px 0 10px;
  .nav-link:hover {
    color: darkcyan !important;
    background-color: whitesmoke;
  }
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.list-group-item h5 {
  border-bottom: 2px solid burlywood;
}

main.landing {
  text-align: center;
  color: white;
  align-content: center;
  display: block;
  width: 100%;
  min-height: 75vh;
  margin-top: 60px;
  background: url("../images/coverImage.jpg") 0 0 repeat;
  background-size: cover;
  -webkit-animation: animate_background 10s linear 0s infinite;
  -moz-animation: animate_background 10s linear 0s infinite;
  -o-animation: animate_background 10s linear 0s infinite;
  animation: animate_background 10s linear 0s infinite;
}

.navbar.fixed-top {
  background-color: white;
}

.not-found {
  text-align: center;
  color: darkcyan;
  padding: 3rem;
  font-weight: 400;
  word-spacing: 0.7rem;
}


/* Animate Background */

@-webkit-keyframes animate_background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200px;
  }
}

@-moz-keyframes animate_background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200px;
  }
}

@-o-keyframes animate_background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200px;
  }
}

@keyframes animate_background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200px;
  }
}

.main-wrapper {
  margin-top: 5rem;
  min-height: 79vh;
}

.maroon {
  color: maroon;
  .fa-clock-o {
    font-size: 1.6rem;
    padding-top: 0.4rem;
  }
  #time {
    font-size: 1.05rem;
  }
}

.page-header,
.page-text {
  font-family: fantasy;
  color: darkcyan;
  .page-header {
    margin-top: 2rem;
  }
}

.pagination {
  margin-left: 0.86rem;
  margin-top: -0.6rem;
  color: 'black';
}

.reviews {
  margin-top: -35px;
}

.review-profile-image {
  width: 60px;
  height: 60px;
}

.nav-button {
  border: 2px solid darkcyan;
  border-radius: 5px;
  &.dropdown-toggle {
    color: darkcyan;
    &:hover {
      color: white;
      background-color: darkcyan;
    }
  }
}

section#home img {
  max-height: 12rem;
}

#site-name {
  font-family: 'Playball', cursive;
  font-size: 1.7rem;
  vertical-align: top;
  color: darkcyan;
  font-weight: 600;
}

.site-wrapper {
  flex: 1 0 auto
}

textarea:focus {
  border-color: darkcyan !important;
}

ul {
  list-style-type: none;
}

ul.details li {
  border-top: 1px solid rgba(0, 0, 0, .125);
  padding: 0.77rem 0.2rem;
}

@media screen and (max-width: 1024px) and (min-width: 150px) {
  h1.display-3 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  main.landing {
    min-height: 30vh;
  }
  p#sub-title {
    font-size: 1rem;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 575px) and (min-width: 120px) {
  img#profile-image {
    width: 300px;
    height: 160px;
  }
  .figure {
    margin: 2px auto 20px;
  }
  .profile-text {
    margin: 2px auto 30px;
  }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
  img.recipe-image {
    width: 170px;
    margin-left: -30px;
    height: 150px;
  }
}

@media screen and (max-width: 2000px) and (min-width: 992px) {
  img.recipe-image {
    margin-left: -40px;
  }
}
